@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}
.poppins {
  font-family: var(--font-poppins);
}
.poppins-regular{
  font-weight: 400;
}
.poppins-light{
  font-weight: 300;
}
.poppins-thin{
  font-weight: 100;
}
.poppins-semibold{
  font-weight: 600;
}
